<div class="wrapper">
  <div>
    <h2>Manual Obs</h2>
    <div>{{manual1}}</div>
    <div>{{manual2}}</div>
    <div *ngFor="let o of manual3">{{o}}</div>
  </div>

  <div>
    <h2>Async pipe</h2>
    <div>{{pipe1$ | async }}</div>
    <div>{{pipe2$ | async }}</div>
    <div *ngIf="(pipe3$ | async) < 5">
      <!--<div *ngFor="let o of pipe3$ ">{{o | async}}</div>-->
      {{ pipe3$ | async }}
    </div>
  </div>

  <div>
    <ng-container *ngIf="forkjoinValues$ | async; let values;">
      <h2>Forkjoin </h2>
      <div>{{ values.first }}</div>
      <div>{{ values.second }}</div>
      <div>{{ values.third }}</div>
      <!--<div *ngFor="let o of manual3">{{ o }}</div>-->
    </ng-container>
  </div>

  <div>
      <ng-container *ngIf="combineLatestValues$ | async ; let values;">     
        <h2>Combine latest </h2>
        <div>{{ values.first }}</div>
        <div>{{ values.second }}</div>
        <div *ngIf="values.third < 8;  else unsubscribe ">{{ values.third }}</div>  
      </ng-container>
      <ng-template #unsubscribe> {{ reset() }} </ng-template>

    </div>
</div>

<div class="children-wrapper">
  <div>
    <h3> Passing data to nested child component </h3>
    <app-child-test 
    message="Hi"
    [myObject] = "person"></app-child-test>
  </div>

  <div>
      <h4> Passing data with Content projection configuration</h4>
      <app-ngcontent-test>
        <h2> H2 </h2>
        <h3> H3 </h3>
        <div myDiv> My div </div>
      </app-ngcontent-test>
  </div>  

  <div>
    <h4> Dynamically adding components by Factory after child rendered </h4>
    <button type="text" (click)="generateComponent()"> Generate </button>
    <ng-template #parent></ng-template>
  </div>  
</div>

