/* You can add global styles to this file, and also import other style files */
.wrapper, .children-wrapper {
    display: grid;
}

.wrapper {    
    grid-template-columns: repeat(5, auto);
}

.children-wrapper {
    grid-template-columns: repeat(3, auto);
}